*{
    margin: 0; 
    padding: 0;
}

body{
    margin: 15px auto;
    padding: 15px;
}

input[type="text"]{ padding: 8px; width: 50%;}
button{
    padding: 9px;
    cursor: pointer;
}

ul{
    list-style-type: none; 
    padding: 5px;
}
